[user]
	name = Roman Grytskiv
	email = roman.grytskiv@gmail.com

[alias]
	s = status -sb
    A = add -A
	c = commit
	ca = commit -am
	b = branch
	co = checkout
	d = diff
	dc = diff --cached
	lg = log --graph --decorate --pretty=oneline --abbrev-commit
	lga = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	ign = ls-files -o -i --exclude-standard

	unstage = reset HEAD --
	discard = checkout -- 
	prev = checkout -

[color]
	ui = auto

[core]
	whitespace=trailing-space,cr-at-eol
	editor = vim
	excludesfile = ~/.gitignore_global
[github]
	user = grzkv
[push]
	default = current
